body {
  background-color: #097138;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.page-container {
  height: 100vh;
}

.page-inner {
  /* display */
  display: flex;
  height: 100vh;
  margin: 0 auto;
  max-width: 800px;
  /* flex */
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.content-container {
  /* display */
  display: flex;
  /* flex */
  flex-direction: row;
  flex-wrap: wrap;
}

.content-block {
  margin: 12px;
}

.tab {
  background-color: blue;
  height: 300px;
  width: 450px;
}

#page-header {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 50pt;
  font-weight: 300;
  margin: 12px 12px 0 8px; /* Margin left smaller to align 'B' with profile picture. */
}

#profile-picture {
  background-image: url("/images/profile_pic_large.jpg");
  height: 300px;
  width: 300px;
}

@media (max-width: 815px) {
  body {
    height: unset;
    overflow: unset;
  }

  .content-block:first-of-type {
    margin: 18px 36px 0;
  }

  .content-block {
    margin: 36px;
  }

  .page-container {
    height: unset;
  }

  .page-inner {
    height: unset;
  }

  .tab {
    height: 500px;
    width: calc(100vw - 72px);
  }

  #page-header {
    margin: 36px 36px 0;
  }

  #profile-picture {
    height: calc(100vw - 72px);
    width: calc(100vw - 72px);
  }
}
